@charset "UTF-8";
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.4506711834% {
    content: "H";
  }
  /* string 1, char 2 */
  0.4516711834%, 0.9023423668% {
    content: "Hi";
  }
  /* string 1, char 3 */
  0.9033423668%, 1.3540135501% {
    content: "Hi!";
  }
  /* string 1, char 4 */
  1.3550135501%, 1.8056847335% {
    content: "Hi! ";
  }
  /* string 1, char 5 */
  1.8066847335%, 2.2573559169% {
    content: "Hi!  ";
  }
  /* string 1, char 6 */
  2.2583559169%, 2.7090271003% {
    content: "Hi!  (";
  }
  /* string 1, char 7 */
  2.7100271003%, 3.1606982836% {
    content: "Hi!  (•";
  }
  /* string 1, char 8 */
  3.1616982836%, 3.612369467% {
    content: "Hi!  (•◡";
  }
  /* string 1, char 9 */
  3.613369467%, 4.0640406504% {
    content: "Hi!  (•◡•";
  }
  /* string 1, char 10 */
  4.0650406504%, 4.5157118338% {
    content: "Hi!  (•◡•)";
  }
  /* string 1, char 11 */
  4.5167118338%, 4.9673830172% {
    content: "Hi!  (•◡•) ";
  }
  /* string 1, char 12 */
  4.9683830172%, 5.4190542005% {
    content: "Hi!  (•◡•) /";
  }
  /* string 1, char 13 */
  5.4200542005%, 15.2654859982% {
    content: "Hi!  (•◡•) / ";
  }
  /* string 1, char 14 */
  15.2664859982%, 15.6268229449% {
    content: "Hi!  (•◡•) /";
  }
  /* string 1, char 15 */
  15.6278229449%, 15.9881598916% {
    content: "Hi!  (•◡•) ";
  }
  /* string 1, char 16 */
  15.9891598916%, 16.3494968383% {
    content: "Hi!  (•◡•)";
  }
  /* string 1, char 17 */
  16.3504968383%, 16.710833785% {
    content: "Hi!  (•◡•";
  }
  /* string 1, char 18 */
  16.711833785%, 17.0721707317% {
    content: "Hi!  (•◡";
  }
  /* string 1, char 19 */
  17.0731707317%, 17.4335076784% {
    content: "Hi!  (•";
  }
  /* string 1, char 20 */
  17.4345076784%, 17.7948446251% {
    content: "Hi!  (";
  }
  /* string 1, char 21 */
  17.7958446251%, 18.1561815718% {
    content: "Hi!  ";
  }
  /* string 1, char 22 */
  18.1571815718%, 18.5175185185% {
    content: "Hi! ";
  }
  /* string 1, char 23 */
  18.5185185185%, 18.8788554652% {
    content: "Hi!";
  }
  /* string 1, char 24 */
  18.8798554652%, 19.2401924119% {
    content: "Hi";
  }
  /* string 1, char 25 */
  19.2411924119%, 19.6015293586% {
    content: "H";
  }
  /* string 1, char 26 */
  19.6025293586%, 24.1182411924% {
    content: "​";
  }
  /* string 2, char 1 */
  24.1192411924%, 24.5699123758% {
    content: "I";
  }
  /* string 2, char 2 */
  24.5709123758%, 25.0215835592% {
    content: "I'";
  }
  /* string 2, char 3 */
  25.0225835592%, 25.4732547425% {
    content: "I'm";
  }
  /* string 2, char 4 */
  25.4742547425%, 25.9249259259% {
    content: "I'm ";
  }
  /* string 2, char 5 */
  25.9259259259%, 26.3765971093% {
    content: "I'm J";
  }
  /* string 2, char 6 */
  26.3775971093%, 26.8282682927% {
    content: "I'm Ju";
  }
  /* string 2, char 7 */
  26.8292682927%, 27.2799394761% {
    content: "I'm Jul";
  }
  /* string 2, char 8 */
  27.2809394761%, 27.7316106594% {
    content: "I'm Julz";
  }
  /* string 2, char 9 */
  27.7326106594%, 28.1832818428% {
    content: "I'm Julz ";
  }
  /* string 2, char 10 */
  28.1842818428%, 28.6349530262% {
    content: "I'm Julz K";
  }
  /* string 2, char 11 */
  28.6359530262%, 29.0866242096% {
    content: "I'm Julz Ka";
  }
  /* string 2, char 12 */
  29.0876242096%, 29.538295393% {
    content: "I'm Julz Kau";
  }
  /* string 2, char 13 */
  29.539295393%, 29.9899665763% {
    content: "I'm Julz Kaup";
  }
  /* string 2, char 14 */
  29.9909665763%, 30.4416377597% {
    content: "I'm Julz Kaupp";
  }
  /* string 2, char 15 */
  30.4426377597%, 30.8933089431% {
    content: "I'm Julz Kauppe";
  }
  /* string 2, char 16 */
  30.8943089431%, 31.3449801265% {
    content: "I'm Julz Kaupper";
  }
  /* string 2, char 17 */
  31.3459801265%, 31.7966513098% {
    content: "I'm Julz Kaupper ";
  }
  /* string 2, char 18 */
  31.7976513098%, 32.2483224932% {
    content: "I'm Julz Kaupper C";
  }
  /* string 2, char 19 */
  32.2493224932%, 32.6999936766% {
    content: "I'm Julz Kaupper Co";
  }
  /* string 2, char 20 */
  32.7009936766%, 33.15166486% {
    content: "I'm Julz Kaupper Cor";
  }
  /* string 2, char 21 */
  33.15266486%, 33.6033360434% {
    content: "I'm Julz Kaupper Cort";
  }
  /* string 2, char 22 */
  33.6043360434%, 34.0550072267% {
    content: "I'm Julz Kaupper Corte";
  }
  /* string 2, char 23 */
  34.0560072267%, 34.5066784101% {
    content: "I'm Julz Kaupper Cortes";
  }
  /* string 2, char 24 */
  34.5076784101%, 34.9583495935% {
    content: "I'm Julz Kaupper Cortes ";
  }
  /* string 2, char 25 */
  34.9593495935%, 35.4100207769% {
    content: "I'm Julz Kaupper Cortes (";
  }
  /* string 2, char 26 */
  35.4110207769%, 35.8616919603% {
    content: "I'm Julz Kaupper Cortes (͠";
  }
  /* string 2, char 27 */
  35.8626919603%, 36.3133631436% {
    content: "I'm Julz Kaupper Cortes (͠≖";
  }
  /* string 2, char 28 */
  36.3143631436%, 36.765034327% {
    content: "I'm Julz Kaupper Cortes (͠≖ ";
  }
  /* string 2, char 29 */
  36.766034327%, 37.2167055104% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜";
  }
  /* string 2, char 30 */
  37.2177055104%, 37.6683766938% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ";
  }
  /* string 2, char 31 */
  37.6693766938%, 38.1200478771% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠";
  }
  /* string 2, char 32 */
  38.1210478771%, 38.5717190605% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖";
  }
  /* string 2, char 33 */
  38.5727190605%, 39.0233902439% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖)";
  }
  /* string 2, char 34 */
  39.0243902439%, 39.4750614273% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖)👌";
  }
  /* string 2, char 35 */
  39.4760614273%, 49.3214932249% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖)👌 ";
  }
  /* string 2, char 36 */
  49.3224932249%, 49.6828301716% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖)👌";
  }
  /* string 2, char 37 */
  49.6838301716%, 50.0441671183% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖)";
  }
  /* string 2, char 38 */
  50.0451671183%, 50.405504065% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠≖";
  }
  /* string 2, char 39 */
  50.406504065%, 50.7668410117% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ͠";
  }
  /* string 2, char 40 */
  50.7678410117%, 51.1281779584% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜ʖ";
  }
  /* string 2, char 41 */
  51.1291779584%, 51.4895149051% {
    content: "I'm Julz Kaupper Cortes (͠≖ ͜";
  }
  /* string 2, char 42 */
  51.4905149051%, 51.8508518519% {
    content: "I'm Julz Kaupper Cortes (͠≖ ";
  }
  /* string 2, char 43 */
  51.8518518519%, 52.2121887986% {
    content: "I'm Julz Kaupper Cortes (͠≖";
  }
  /* string 2, char 44 */
  52.2131887986%, 52.5735257453% {
    content: "I'm Julz Kaupper Cortes (͠";
  }
  /* string 2, char 45 */
  52.5745257453%, 52.934862692% {
    content: "I'm Julz Kaupper Cortes (";
  }
  /* string 2, char 46 */
  52.935862692%, 53.2961996387% {
    content: "I'm Julz Kaupper Cortes ";
  }
  /* string 2, char 47 */
  53.2971996387%, 53.6575365854% {
    content: "I'm Julz Kaupper Cortes";
  }
  /* string 2, char 48 */
  53.6585365854%, 54.0188735321% {
    content: "I'm Julz Kaupper Corte";
  }
  /* string 2, char 49 */
  54.0198735321%, 54.3802104788% {
    content: "I'm Julz Kaupper Cort";
  }
  /* string 2, char 50 */
  54.3812104788%, 54.7415474255% {
    content: "I'm Julz Kaupper Cor";
  }
  /* string 2, char 51 */
  54.7425474255%, 55.1028843722% {
    content: "I'm Julz Kaupper Co";
  }
  /* string 2, char 52 */
  55.1038843722%, 55.4642213189% {
    content: "I'm Julz Kaupper C";
  }
  /* string 2, char 53 */
  55.4652213189%, 55.8255582656% {
    content: "I'm Julz Kaupper ";
  }
  /* string 2, char 54 */
  55.8265582656%, 56.1868952123% {
    content: "I'm Julz Kaupper";
  }
  /* string 2, char 55 */
  56.1878952123%, 56.548232159% {
    content: "I'm Julz Kauppe";
  }
  /* string 2, char 56 */
  56.549232159%, 56.9095691057% {
    content: "I'm Julz Kaupp";
  }
  /* string 2, char 57 */
  56.9105691057%, 57.2709060524% {
    content: "I'm Julz Kaup";
  }
  /* string 2, char 58 */
  57.2719060524%, 57.6322429991% {
    content: "I'm Julz Kau";
  }
  /* string 2, char 59 */
  57.6332429991%, 57.9935799458% {
    content: "I'm Julz Ka";
  }
  /* string 2, char 60 */
  57.9945799458%, 58.3549168925% {
    content: "I'm Julz K";
  }
  /* string 2, char 61 */
  58.3559168925%, 58.7162538392% {
    content: "I'm Julz ";
  }
  /* string 2, char 62 */
  58.7172538392%, 59.0775907859% {
    content: "I'm Julz";
  }
  /* string 2, char 63 */
  59.0785907859%, 59.4389277326% {
    content: "I'm Jul";
  }
  /* string 2, char 64 */
  59.4399277326%, 59.8002646793% {
    content: "I'm Ju";
  }
  /* string 2, char 65 */
  59.8012646793%, 60.161601626% {
    content: "I'm J";
  }
  /* string 2, char 66 */
  60.162601626%, 60.5229385727% {
    content: "I'm ";
  }
  /* string 2, char 67 */
  60.5239385727%, 60.8842755194% {
    content: "I'm";
  }
  /* string 2, char 68 */
  60.8852755194%, 61.2456124661% {
    content: "I'";
  }
  /* string 2, char 69 */
  61.2466124661%, 61.6069494128% {
    content: "I";
  }
  /* string 2, char 70 */
  61.6079494128%, 66.1236612466% {
    content: "​";
  }
  /* string 3, char 1 */
  66.1246612466%, 66.57533243% {
    content: "I";
  }
  /* string 3, char 2 */
  66.57633243%, 67.0270036134% {
    content: "I ";
  }
  /* string 3, char 3 */
  67.0280036134%, 67.4786747967% {
    content: "I l";
  }
  /* string 3, char 4 */
  67.4796747967%, 67.9303459801% {
    content: "I lo";
  }
  /* string 3, char 5 */
  67.9313459801%, 68.3820171635% {
    content: "I lov";
  }
  /* string 3, char 6 */
  68.3830171635%, 68.8336883469% {
    content: "I love";
  }
  /* string 3, char 7 */
  68.8346883469%, 69.2853595303% {
    content: "I love ";
  }
  /* string 3, char 8 */
  69.2863595303%, 69.7370307136% {
    content: "I love 1";
  }
  /* string 3, char 9 */
  69.7380307136%, 70.188701897% {
    content: "I love 12";
  }
  /* string 3, char 10 */
  70.189701897%, 70.6403730804% {
    content: "I love 120";
  }
  /* string 3, char 11 */
  70.6413730804%, 71.0920442638% {
    content: "I love 1202";
  }
  /* string 3, char 12 */
  71.0930442638%, 71.5437154472% {
    content: "I love 1202 ";
  }
  /* string 3, char 13 */
  71.5447154472%, 71.9953866305% {
    content: "I love 1202 °";
  }
  /* string 3, char 14 */
  71.9963866305%, 72.4470578139% {
    content: "I love 1202 °˖";
  }
  /* string 3, char 15 */
  72.4480578139%, 72.8987289973% {
    content: "I love 1202 °˖✧";
  }
  /* string 3, char 16 */
  72.8997289973%, 73.3504001807% {
    content: "I love 1202 °˖✧◝";
  }
  /* string 3, char 17 */
  73.3514001807%, 73.802071364% {
    content: "I love 1202 °˖✧◝(";
  }
  /* string 3, char 18 */
  73.803071364%, 74.2537425474% {
    content: "I love 1202 °˖✧◝(⁰";
  }
  /* string 3, char 19 */
  74.2547425474%, 74.7054137308% {
    content: "I love 1202 °˖✧◝(⁰▿";
  }
  /* string 3, char 20 */
  74.7064137308%, 75.1570849142% {
    content: "I love 1202 °˖✧◝(⁰▿⁰";
  }
  /* string 3, char 21 */
  75.1580849142%, 75.6087560976% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)";
  }
  /* string 3, char 22 */
  75.6097560976%, 76.0604272809% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜";
  }
  /* string 3, char 23 */
  76.0614272809%, 76.5120984643% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜✧";
  }
  /* string 3, char 24 */
  76.5130984643%, 76.9637696477% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜✧˖";
  }
  /* string 3, char 25 */
  76.9647696477%, 86.8102014453% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜✧˖°";
  }
  /* string 3, char 26 */
  86.8112014453%, 87.1715383921% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜✧˖";
  }
  /* string 3, char 27 */
  87.1725383921%, 87.5328753388% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜✧";
  }
  /* string 3, char 28 */
  87.5338753388%, 87.8942122855% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)◜";
  }
  /* string 3, char 29 */
  87.8952122855%, 88.2555492322% {
    content: "I love 1202 °˖✧◝(⁰▿⁰)";
  }
  /* string 3, char 30 */
  88.2565492322%, 88.6168861789% {
    content: "I love 1202 °˖✧◝(⁰▿⁰";
  }
  /* string 3, char 31 */
  88.6178861789%, 88.9782231256% {
    content: "I love 1202 °˖✧◝(⁰▿";
  }
  /* string 3, char 32 */
  88.9792231256%, 89.3395600723% {
    content: "I love 1202 °˖✧◝(⁰";
  }
  /* string 3, char 33 */
  89.3405600723%, 89.700897019% {
    content: "I love 1202 °˖✧◝(";
  }
  /* string 3, char 34 */
  89.701897019%, 90.0622339657% {
    content: "I love 1202 °˖✧◝";
  }
  /* string 3, char 35 */
  90.0632339657%, 90.4235709124% {
    content: "I love 1202 °˖✧";
  }
  /* string 3, char 36 */
  90.4245709124%, 90.7849078591% {
    content: "I love 1202 °˖";
  }
  /* string 3, char 37 */
  90.7859078591%, 91.1462448058% {
    content: "I love 1202 °";
  }
  /* string 3, char 38 */
  91.1472448058%, 91.5075817525% {
    content: "I love 1202 ";
  }
  /* string 3, char 39 */
  91.5085817525%, 91.8689186992% {
    content: "I love 1202";
  }
  /* string 3, char 40 */
  91.8699186992%, 92.2302556459% {
    content: "I love 120";
  }
  /* string 3, char 41 */
  92.2312556459%, 92.5915925926% {
    content: "I love 12";
  }
  /* string 3, char 42 */
  92.5925925926%, 92.9529295393% {
    content: "I love 1";
  }
  /* string 3, char 43 */
  92.9539295393%, 93.314266486% {
    content: "I love ";
  }
  /* string 3, char 44 */
  93.315266486%, 93.6756034327% {
    content: "I love";
  }
  /* string 3, char 45 */
  93.6766034327%, 94.0369403794% {
    content: "I lov";
  }
  /* string 3, char 46 */
  94.0379403794%, 94.3982773261% {
    content: "I lo";
  }
  /* string 3, char 47 */
  94.3992773261%, 94.7596142728% {
    content: "I l";
  }
  /* string 3, char 48 */
  94.7606142728%, 95.1209512195% {
    content: "I ";
  }
  /* string 3, char 49 */
  95.1219512195%, 95.4822881662% {
    content: "I";
  }
  /* string 3, char 50 */
  95.4832881662%, 100% {
    content: "​";
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

@media (max-width: 575px) {
  body::after {
    top: -33px;
  }
}
